.navbar {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    /* background-color: aqua; */
    color: goldenrod;
    position: sticky;
    top: 0.5rem;
    z-index: 25;
    border-radius: 2rem;
    margin: 10px auto;
    backdrop-filter: blur(4px);
    border-bottom: 5px solid white;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.log {
    color: goldenrod;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    
    &:hover {
        color: aquamarine;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navLinks li {
    display: flex;
    align-items: center;
}

.navLinks a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: goldenrod;

    &:hover {
        scale: 1.1;
        color: aquamarine;
        transition: transform 0.3s ease, color 0.3s ease;
    }
}

